body{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px!important;  
  font-family: 'Amiri', serif!important;
}
th{

  text-align: left;
}
td {
word-wrap: break-word;

} 


table{
font-size: 13px!important;
/* table-layout:fixed; */

}

.bug{
  color: #d3d3d3;
  padding-right: 5px;
}

.bug:hover{

  color:tomato;
  text-decoration: none!important
}
  .issues a:hover {
  text-decoration: none!important;
  font-size: 16px!important;
}

.bugspan{

  float: right;
  padding: 3px;


}

.text-wrap{
  white-space:normal;
}


.heading{

  float: left;
   height: 100px;
   width: 90%; 
  border-bottom: 1px #f8f9fa solid; 
  margin-top: 20px; 
  margin-left: 10px;
   margin-bottom: 20px
}

input[type="search"]
{
  width: 300px!important;
  height: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 2px slategrey solid;
}
.dataTables_length{
  margin-top: 20px;

}

.btn btn-secondary buttons-copy buttons-html5
{
  background-color: #f8f9fa!important;

}
.btn-secondary{
  background-color: #f8f9fa!important;
  color:black!important;
  font-weight: 300!important;
  margin-right: 5px;
  border-radius: .25rem!important;
  border-color: black!important;
}

.btn-secondary:hover{
  color: black!important;
  font-weight: 500!important;
}